.clearfix:before,.clearfix:after {
 content: "";
 display: table;
 }

 .clearfix:after {
  clear: both;
 }

.container {
  padding: 0 20px;
 }

header {
  text-align: center;
 }

.blocks {
  height: auto;
  width: auto;
  background-color: silver;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  text-decoration-color: teal;
  box-sizing: border-box;
 }

body {
  background-color: teal;
 }

h1 {
  color: white;
 } /*SENIORS*/

h3 {
  color: white;
 } /*T17ANS*/



@media only screen and (min-width: 600px) {
  body {
  background-color: grey;
 }

 h1 {
  color: gold;
 }
 .blocks {
  background-color: teal;
 } 

 #L {
  width: 45%;
  float: left;
 }

 #R {
    width: 45%;
  float: left;
 }

@media only screen and (min-width: 800px) {
 body {
  background-color: white
 } 

 .blocks {
  background-color: teal;
 }
 
 h1 {
  color: black;
 }

  #L {
  width: 25%;
 }

 #R {
  width: 25%;
 }
